autobahn==0.6.5
Pillow==2.6.0
Pyro==3.14
Twisted==12.2.0
argparse==1.2.1
distribute==0.6.24
email==6.0.0a1
kaa-base==0.99.2dev-384-2b73caca
## FIXME: could not find svn URL in dependency_links for this package:
kaa-metadata==0.7.8dev-r4569-20111003
lxml==4.7.1
meld3==0.6.9
psutil==0.6.1
pyOpenSSL==21.0.0
pyasn1==0.1.7
pycrypto==2.6
pymodbus==1.2.0
pyserial==2.6
requests==2.1.0
simplejson==2.6.2
supervisor==3.0
unittest2==0.5.1
wheezy.template==0.1.135
wsgiref==0.1.2
yolk==0.4.3
zope.interface==4.0.1
suds==0.4
soco==0.17
netifaces==0.10.9
