<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8">
	<meta name="description" content="Update server" />
	<meta name="author" content="ELKO EP, s.r.o." />
 	<link rel="stylesheet" type="text/css" href="/static/style.css"> 
    <link rel="shortcut icon" href="/static/favicon.ico">
</head>
<body>

    <div class="cs_header">
        <div id="cs_title">iMM Control Center / Update Server</div>
        <div id="id_info">ver. Update Server ---</div>
        <div id="cs_menu">
            <a onclick="window.location.href='http://'+window.location.host.replace(':8081',':8080')">Connection Server</a>  
        </div>
    </div>
    
	<div class="grid-frame vertical" style="height:auto;"> <!-- START OF FRAME -->

        <!--
    
		<header> < START OF HEADER >
			<div class="grid-block top-part">
				<div class="grid-content">
					<div class="grid-container">
						<div class="grid-block">
							<div class="grid-content medium-8">
								<a href="./">
									<img id="logo" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIQAAAAdCAMAAABc8zQeAAAAhFBMVEVHcEwAseYAseYAseYAseYAseYAseYAseYAseYAseYAseYAseYAseYAseYAseb7ugD7ugAAseYAseYAseYAseYAseYAseYAseYAseYAseYAseYAseYAseYAseYAseYAseYAseb7ugD7ugAAseYAseYAseYAseYAseYAseb7ugAAseb7ugBcPiD5AAAAKnRSTlMAwDDggCDQ8JAPoGBO+6vAoAI4RSqHdwtBE28HaePp91aR83vMtPHamWzhdKofAAABf0lEQVR4Xu3U2U6DQBiG4U/2YVN2oEDpZut4//en0gIMdiR0UE58T79k8iST/Njv9+9Nz2gi+p0q+ehGwQZthHJS0aTQNoySDq6mO9fNArIoigqgAQwRlJsee4KIWqODLHimHcd2zEFwugghyIkyWUhrS7KDyzwElQQQ5EjHiNq3jNPGmIlQBBAmHZVDVSwpDs0fEKb6VRgYtM99GOGF9DsCuaJKroSXpt1u9zZ+38CtnHY9oSkxOGVcBILPOVKG+QDCwiJg4iASBjEZi5gXH4HyrxG4g5D/Ebe0hRAeuZWATW47zUAQfVx3zPiI2qFtWxtM23bQ5iDoOB4iQZ/dKxxWof8ugmBQumUU6yCQvvY/4q+FgN8rqmwxhEuueRjER0CquslcDGGCaRIB32knJ1sNgajbbDFEIoBIuy0XQ0AAYXVbsRoik7vNXwrhqkybMUJi97Aou+nsCSKm78R0AR5EaMshCqyOqAKsjSjjBOIInVOIppi3l/L56B58D0wfNy4oqbAfKkoAAAAASUVORK5CYII=">
								</a>
							</div>
							
							<div class="grid-content medium-2">
							</div>
							
							<div class="vertical grid-block medium-2">
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<div class="grid-block shrink bottom-part show-for-medium">
				<div class="grid-content noscroll">
					<div class="grid-container">
						<div class="grid-block">
							<div class="grid-content">
								<a id="id_info" style="font-size:1.125rem;">Update server</a>
							</div>
							<div class="grid-content text-right">
                                <a onclick="window.location.href='http://'+window.location.host.replace(':8081',':8080')" style="font-size:1.125rem;">Connection server</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header> < END OF HEADER >
	
        -->
    
		<div class="grid-block vertical"> <!-- START OF CONTENT -->
			<div class="content-wrapper">
			
                <div class="grid-container">
                
                    <div class="grid-content shrink">&nbsp;</div>
                    
                    <fieldset>
                          
                        <form action="" method="post">
                          
                            <div class="grid-content shrink">&nbsp;</div>
                              
                            <div class="grid-content shrink">
                                <small>Login</small>
                            </div>
                            
                            <div class="grid-content shrink">&nbsp;</div>
                            
                            <div class="grid-block">
                                <div class="grid-content noscroll small-3"></div>
                                <div class="grid-content noscroll small-1 input-text">Username</div>
                                <div class="grid-content small-4">
                                    <input type="text" name="username">
                                </div>
                                <div class="grid-content noscroll small-4"></div>
                            </div>
                            
                            <div class="grid-content shrink">&nbsp;</div>
                            
                            <div class="grid-block">
                                <div class="grid-content noscroll small-3"></div>
                                <div class="grid-content noscroll small-1 input-text">Password</div>
                                <div class="grid-content small-4">
                                    <input type="password" name="password">
                                </div>
                            </div>
                            
                            <div class="grid-content shrink">&nbsp;</div>
                            
                            <div class="grid-block">
                                <div class="grid-content noscroll small-4"></div>
                                <div class="grid-content small-4">
                                    <input type="submit" name="Login" value="Login">
                                </div>
                                <div class="grid-content noscroll small-4"></div>
                            </div>
                            
                            <div class="grid-content shrink">&nbsp;</div>
                         
                        </form>                          
                          
                    </fieldset>
                    
                    <div class="grid-content shrink">&nbsp;</div>
  
                </div> <!-- END OF FILE BLOCK -->
                    
			</div>
		</div> <!-- STOP OF CONTENT -->

	</div> <!-- END OF FRAME -->
	
	<footer>
	</footer>

</body>
</html>
